.info__container{
    display:flex;
    background-color: rgb(253, 136, 93);
    width: 470px;
    height: 318px;
    color: white;
}
.info__photo--imagen{
  height: 318px;
}
.info__content{
  text-align: center;
}
